form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  max-width: 30%;

  border: 1px solid lightgray;
  border-radius: 3px;
}

.json-layout {
  background-color: lightgray;
  border-radius: 1px;
  padding: 20px;
  white-space: pre-wrap;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

.button {
  color: #494f55;
  padding: 5px 15px;
  border: 1px solid #494f55;
  border-radius: 5px;
}
